.App {
    display: grid;
    grid-template-areas:
        "nav header ads"
        "nav article ads"
        "nav footer ads";
    grid-template-rows: minmax(420px, 460px)  auto 50px;
    grid-template-columns: minmax(22%, auto) 1fr 8%;
    grid-gap: 125px 30px;
    height: 100vh;
    margin: 0;
}

#pageHeader {
    grid-area: header;
}
#pageFooter {
    grid-area: footer;
}
#mainArticle {
    grid-area: article;
}
#mainNav {
    grid-area: nav;
}
#siteAds {
    grid-area: ads;
}

#siteAds , #mainNav, #mainArticle, #pageFooter {
    padding: 20px;
    background: gold;
}
